.nav{
    display: $d-flex;
    .nav_list{
        width: $nav_width;
        display: $d-flex;
        align-items: $align-center;
        justify-content: $space-between;
        list-style: none;

        .list_item{
            .list_item_link{
                color: rgb(146, 146, 146);
                font-family: $font-family-sans-serif;
                font-size: $sm_size;
                transition: .3s;
                &:hover{
                    color: black;
                }
            }

        }
    }
}