$padding-y: 40px;
$padding-x: 120px;
$header-max-width: 1600px;
$d-flex: flex;
$space-around: space-around;
$space-between: space-between;
$align-center: center;

$nav_width: 500px;
$font-family-sans-serif: sans-serif;
$sm_size: 18px;
$hero_height: 338px;

$h1lgSize: 48px;
$h2lgSize: 36px;

$plgSize: 21px;

$btn_padding_y: 1rem;
$btn_padding_x: 2.5rem;
$default_btn_bg_color: #458FF6;
$default_btn_border_color: #458FF6;
$btn_border_radius: 30px;
$default_btn_color: #fff;
$transparent: transparent;

$light_color: #fff;

$card_bg_color: #fff;
$h3lgSize: 24px;



$load_page_height: 477px;


$asking_box_width: 1120px;
$asking_box_height: 425px;
$asking_bg_color: #67C3F3;